{% extends 'admin.html.twig' %}

{% block title %}Back office {% endblock %}

{% block body %}
<main class="container-fluid">

    <div class="d-flex justify-content-around">
        <h2 class="m-3">Célébrités</h2>
        <h2 class="m-3">Utilisateurs</h2>
        <h2 class="m-3">Activités</h2>
        <h2 class="m-3">Médias</h2>
    </div>

    <div class="d-flex justify-content-around flex-wrap ">
        <a class="text-decoration-none" href="{{ path('admin_celebrite_index') }}">
            <i class="icon-star-outline"></i>
        </a>
        <a class="text-decoration-none" href="{{ path('admin_user_index') }}">
            <i class="icon-user"></i>
        </a>
        <a class="text-decoration-none" href="{{ path('admin_activite_index') }}">
            <i class="icon-wine"></i>
        </a>
        <a class="text-decoration-none" href="{{ path('admin_medias_index') }}">
            <i class="icon-image"></i>
        </a>
    </div>
</main>
{% endblock %}