* {
  box-sizing: border-box;
}

body {
  margin: 0;
  font-family: Verdana, Geneva, Tahoma, sans-serif;
  height: 100%;
  min-height: 100%;
}

header {
  height: 5rem;
  margin-top: 1rem;
  display: flex;
}

main {
  padding: 1rem;
}


/** HEADER NAV **/

header .logo {
 flex: 0 1 auto;
}
header nav.menu {
  flex: 1 1 auto;
}

header nav.icones {
  flex: 0 1 auto;

}

header .logo img {
  height: 100px;
  margin-left: 1rem;
}

header nav ul {
  text-decoration: none;
  text-align: center;
  width: 100%;  
}

header nav ul li {
  display: inline-block;
}

header nav a {
  padding: 7px 25px;
  justify-content: space-around;
}


header .menu li a {
  color: black;
  text-decoration: none;
  background-color: rgba(255, 255, 255, 0.3); 
}

header .menu li a:hover {
  text-decoration: underline;
}

header .icones ul li a {
  color: #ecc400;
  text-decoration: none;
  
}

/** Typographie **/

h1 {
  font-size: 3rem;
  text-transform: uppercase;
}

h3 {
  margin-left: 1.5rem;
  color: rgb(114, 138, 11);
}

/*home*/
header#header-home {
  background-image: url("../images/montagne.jpg");
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
  border-radius: 0rem 0rem 2rem 2rem;
  padding-bottom: 20rem;
  background-position: -10% 60%;
}
/*header section:first-child input {
    display: none;
}*/
/*
header#header-home .first-child {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

header#header-home .first-child nav {
  width: 20%;
  color: #ecc400;
}

header#header-home .first-child nav ul {
  display: flex;
  justify-content: space-around;
  list-style: none;
}
*/

/*
header#header-home .first-child nav ul li a i {
  font-size: 25px;
}

header#header-home .last-child {
  flex-direction: column;
  text-align: center;
  font-style: italic;
  margin: 14em auto 0;
  padding: 20px;
  width: 60%;
  color: rgb(114, 138, 11);
}

header#header-home .last-child p {
  color: rgb(92, 3, 11);
  text-transform: uppercase;
  font-size: 18px;
  background-color: rgba(255, 255, 255, 0.3);
  border-radius: 1.5rem;
  text-align: justify;
}*/

/*LE MAIN - les premiers articles*/

main .Stock h2 {
  text-align: center;
}

main .moinsConnu,
.Nouveaute,
.celebrites {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  width: 100%;
  height: 70%;
}


main .moinsConnu article,
main .Nouveaute article,
.liste{
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 1rem;
  width: 33%;
}


main .moinsConnu p,
main .Nouveaute p {
  display: flex;
  flex: 1;
}

main .moinsConnu img,
main .Nouveaute img, 
.liste img {
  width: 90%;
  height: 20rem;
  object-fit: cover;
  border-radius: 2rem;
}

.liste img{
  transition: all .4s ease-in-out;
}

.liste img:hover{
  transition: all .4s ease-in-out;
  transform: scale(1.12);
}

/* LE MAIN - DIAPORAMA*/

main h2 {
  text-align: center;
  margin-top: 2rem;
  color: rgb(114, 138, 11);
}

main .diaporama {
  height: calc(75vw * 1280 / 1920);
  width: 75vw;
  max-height: calc(960px * 1280 / 1920);
  max-width: 960px;
  margin: 25px;
  border: 10px solid rgb(128, 161, 7);
  box-shadow: 0 0 7px 7px rgb(36, 9, 131);
  background: rgb(59, 147, 173);
  position: relative;
  overflow: hidden;
  margin-left: auto;
  margin-right: auto;
}

main .diaporama img {
  height: 100%;
  position: absolute;
  top: 0;
  left: 0;
  opacity: 0;
  object-fit: cover;
}

main .diaporama img.visible {
  width: 100%;
  position: absolute;
  top: 0;
  left: 0;
  opacity: 1;
}

/*LE MAIN - le deuxième article*/

section.Nouveaute div.articleBas-entete {
  display: flex;
  justify-content: space-around;
  width: 100%;
  padding-left: 1rem;
  padding-right: 1rem;
}
section.Nouveaute div.articleBas-entete h4.metier {
  color: #4c4c4c;
}

/* LE FOOTER*/

.inner_footer {
  margin: 0;
  padding: 0;
  background: rgb(59, 147, 173);
}

.social_links {
  display: flex;
}
.social_links ul {
  padding: 10px;
  display: flex;
  width: 300px;
  height: 30px;
  margin: auto;
}

.social_items {
  list-style: none;
}

.social_items a {
  padding: 10px 20px;
  font-size: 20px;
  color: #ecc400;
  transition: all 0.25s;
}

.social_items a:hover {
  color: rgb(192, 223, 233);
}

.quick_links {
  display: flex;
  width: 560px;
  height: 70px;
  margin: auto;
}

.quick_links ul {
  display: flex;
}

.quick_items {
  list-style: none;
}

.quick_items a {
  text-decoration: none;
  padding: 0px 15px;
  font-size: 16px;
  color: #ecc400;
  transition: all 0.25s;
}

.quick_items a:hover {
  color: rgb(192, 223, 233);
}

.outer_footer {
  padding: 10px;
  text-align: center;
  color: #ecc400;
  font-size: 18px;
  background: rgb(5, 60, 75);
}

/*Detail Celebrite*/
.celebriteDescription article {
  display: flex;
}

.celebriteDescription img {
  width: 70%;
  height: 38%;
  object-fit: cover;
}
.celebriteDescription .contenu{
  padding-left: -5rem;
}

button,
.btn {
  font-size: 18px;
  padding: 15px;
  border-radius: 5px;
  outline: none;
  border: none;
  margin-top: 40px;
  margin-bottom: 15px;
  width: 150px;
  cursor: pointer;
  overflow: hidden;
  position: relative;
  background: #16293C;
  color: white;
}

button span, 
.btn span{
  position: relative;
  z-index: 2;
  color:#fff;
  transition : color 0.3s ease-in-out;
}

button::after,
.btn::after{
  content: "";
    position: absolute;
    background: #688da1;    
    width:100%;
    height:100%;
    top :0;
    left:0;
    transition : transform 0.3s ease-in-out;
}

button:hover::after,
.btn:hover::after{
  transform : translateY(100%);
}

.parentMedias {
  display: flex;
  justify-content: center;
  width: 80%;
  margin-left: auto;
  margin-right: auto;
}
.mainMedias {
  background-color: blue;
  height: 35rem;
  width: 60rem;
}
.listMedias {
  background-color: green;
  height: 35rem;
  width: 20rem;
  overflow-y: auto;
}

@media (max-width: 920px) {
  main .moinsConnu,
  main .Nouveaute {
    flex-direction: column;
  }
  main .moinsConnu article,
  main .Nouveaute article {
    width: 100%;
  }
}
.outer_footer {
  padding: 10px;
  text-align: center;
  color: #ecc400;
  font-size: 18px;
  background: rgb(5, 60, 75);
}
