{% extends 'base.html.twig' %}

{% block title %}{% endblock %}

{% block body %}

	<section class="celebrites">

		{% for liste, celebrite in celebrites %}
			<div class= "liste">
                <img src="{{ asset('uploads/celebrite/' ~ celebrite.image) }}" alt="{{ celebrite.nom }}">
                <h3><strong>{{celebrite.prenom}} {{celebrite.nom}}</strong></h3>
			</div>
		{% endfor %}

	</section>

{% endblock %}
